.scroll_navi {
	position: fixed;
	right: 5vw;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 3;

	li {
		width: 10px;
		height: 10px;
		background: #fff;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.5s;

		&.on {
			height: 100px;
			background: #111;
		}
	}
}
